@import "tailwindcss";

/* Designs for Ze Projecto */

/* 
==========================
Color Palette */
:root {
  --primary-bg: #374151; /*  Main background */
  --secondary-bg: #1f2937; /*  2nd BG Color */
  --accent-bg: #000000; /*  Navbar and important elements */
  --text-primary: #ffffff; /* Font Color */
  --text-secondary: #d1d5db; /* Text Shadows Secondary color etc */
  --button-bg: #374151; /* - Button background */
  --button-hover: #4b5563; /*  Button hover state */
  --border-color: #6b7280; /*  Borders and dividers */
  --input-bg: #ffffff; /* Form inputs */
  --error-color: #ef4444; /* Error messages */
  --success-color: #10b981; /*  Success messages */
}

/* 
===================
GLobal styles */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg);
  color: var(--text-primary);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}

button {
  cursor: pointer;
}
